<link rel="import" href="../polymer/polymer-element.html">


<dom-module id="prueba-proyecto">
  
    <template>
  <link rel="import" href="../../paper-tabs/paper-tabs.html">
  <link rel="import" href="../../iron-pages/iron-pages.html">
  <link rel="import" href="../../paper-item/paper-item.html">
  <link rel="import" href="../../iron-collapse/iron-collapse.html">
      <style>
         :host {
        display: block;
      }
      .header-data{
        color: white;
        background: black;
        border-radius: 10px;
      }
      
      .deactive{
        border: 1px solid red;
        color: black;
        font-style: italic;
        background-color: red;
        border-radius: 10px;
      }
      .save{
        background: #3498DB;
        color: white;
        border: 1px solid black;
        border-radius: 10px;
      }
      .charlist{
        color: #C9C9C9;
      }
      
      
      .lastname{
        padding-left: 180px;
      }
      .tel{
        padding-left: 145px;
      }
      .birth{
        padding-left: 100px;
      }
      .psw{
        padding-left: 120px;
      }
      .git{
        padding-left: 170px;
      }
      .linked{
        padding-left: 200px;
      }
      .habitual, .profesional{
        border: 1px solid red; 
        background: black; 
        color: white; 
        border-radius: 10px;
             
      }
      .cp{
        padding-left: 180px;
      }
      .bprovince{
        padding-left: 150px;
      }
      .bcountry{
        padding-left: 110px;
      }
      .zh{
        padding-left: 300px;
      }
      .check{
        color: grey;
      }
      .company{
        padding-left: 160px;
      }
      </style>
      
      
    <header id="header">MY PROFILE</header>
    <hr>
      
<paper-tabs selected="{{selected}}">
  <paper-tab>Mis Datos</paper-tab>
  <paper-tab>Datos de Acceso</paper-tab>
  <paper-tab>Mis Intereses</paper-tab>
  <paper-tab>Sobre Mí</paper-tab>
</paper-tabs>
<br>

<iron-pages selected="{{selected}}">
  <div >
    <section>
      <header class="header-data">
        <h3>Personal Data</h3>
      </header>
      <b>Full Name*</b>
      <b class="lastname">Last Name</b>
      <br><br>
      <input type="text" id="data-name" style="margin-right: 115px" placeholder="Enter your name" required value="[[nombre(0)]]">
      
      <input type="text" id="data-last"  required >
      <br><br>
      <b>DNI</b>
      <b class="tel">Telephone</b>
      <b class="birth">Birthdate</b>
      <br><br>
      <input type="text" id="dni-data" required style="margin-right: 30px">
      
      <input type="number" id="number-data" minlength="10" required style="margin-right: 30px">
      <select id="day">
         <option value="0">Day</option> 
         <option value="1">1</option> 
         <option value="2">2</option> 
         <option value="3">3</option>
         <option value="4">4</option> 
         <option value="5">5</option> 
         <option value="6">6</option> 
         <option value="7">7</option> 
         <option value="8">8</option> 
         <option value="9">9</option>
         <option value="10">10</option> 
         <option value="11">11</option> 
         <option value="12">12</option> 
         <option value="13">13</option> 
         <option value="14">14</option> 
         <option value="15">15</option>
         <option value="16">16</option> 
         <option value="17">17</option> 
         <option value="18">18</option> 
         <option value="19">19</option> 
         <option value="20">20</option> 
         <option value="21">21</option>
         <option value="22">22</option> 
         <option value="23">23</option> 
         <option value="24">24</option>
         <option value="25">25</option> 
         <option value="26">26</option> 
         <option value="27">27</option>
         <option value="28">28</option> 
         <option value="29">29</option> 
         <option value="30">30</option>  
         <option value="31">31</option>
      </select>
      <select id="month">
         <option value="0">Month</option> 
         <option value="1">January</option> 
         <option value="2">February</option> 
         <option value="3">March</option>
         <option value="4">April</option> 
         <option value="5">May</option> 
         <option value="6">June</option> 
         <option value="7">July</option> 
         <option value="8">August</option> 
         <option value="9">September</option>
         <option value="10">October</option> 
         <option value="11">November</option> 
         <option value="12">December</option> 
      </select>
      <select id="year">
         <option value="0">Year</option> 
         <option value="1">2008</option> 
         <option value="2">2009</option> 
         <option value="3">2010</option>
         <option value="4">2011</option> 
         <option value="5">2012</option> 
         <option value="6">2013</option> 
         <option value="7">2014</option> 
         <option value="8">2015</option> 
         <option value="9">2016</option>
         <option value="10">2017</option> 
         <option value="11">2018</option> 
         <option value="12">2019</option> 
         <option value="13">2020</option>
      </select>
      <br><br><br>

      <div class="habitual">
      <paper-tabs selected="{{selected2}}">
        <paper-tab>Habitual Residence ➤</paper-tab>
      </paper-tabs>
      </div>
      <br>
      <iron-pages selected="{{selected2}}">
        <div>
          <b>Dirección</b>
          <b class="cp">Código postal</b>
          <br>
          <input type="text" id="dress" required style="margin-right: 110px">
          
          <input type="number" id="cod" required>
          <br><br>
          <b>City</b>
          <b class="bprovince">Province</b>
          <b class="bcountry">Country</b>
          <br>
          <input type="text" id="city" required style="margin-right: 45px">
          <input type="text" id="province" required style="margin-right: 30px">
          
          <input type="text" id="country" required>
          <br><br>
          <b>Exento de IVA</b>
          <b class="zh">Zona horaria*</b>
          <br><br>
          <input type="checkbox" id="chec"> 
          <b class="check" style="margin-right: 60px">Si. Sólo residentes de Canarias. Ceuta o Melilla</b>
          <select id="horario">
             <option value="1">Europe/Prague</option> 
             <option value="2">Méx. (GMT-5)</option> 
             <option value="3">UTC+10 (AEST)</option>
             <option value="4">UTC+2 (EET)</option>
          </select>
        </div>
      </iron-pages>
      <br>


      <div class="profesional">
      <paper-tabs selected="{{selected3}}">
        <paper-tab>Profesional Data ➤</paper-tab>
      </paper-tabs>
      </div>
      <br>
      <iron-pages selected="{{selected3}}">
        <div>
          <b>¿Qué estudios tienes?</b>
          <b class="company">Compañía/Empresa</b>
          <br><br>
          <select id="study" style="margin-right: 80px">
             <option value="0">✓ ---------</option> 
             <option value="1">Universitarios</option> 
             <option value="2">Estudios Técnicos no universitarios</option> 
             <option value="3">Bachillerato</option>
             <option value="4">Educación Secundaria</option>
             <option value="5">Educación Primaria</option>
          </select>
          <input type="text" id="company" required>
        </div>
      </iron-pages>
      <br><br>
        <button class="save" id="btnguardar" >SAVE CHANGES</button>
    </section>
  </div>
  <div>
     <section class="access-section">
      <b>Email*</b>
      <br><br>
      <input type="email" id="email-access" value="addi.salazar@ids.com.mx"  readonly="readonly" placeholder="Enter your email" disabled style="width: 150px">
      <br><br>
      <b>Contraseña nueva*</b>
      <b class="psw">Contraseña nueva(confirmación)*</b>
      <br><br>
      <input type="password" id="password" placeholder="Enter the new password" required style="margin-right: 110px">
      <input type="password" id="password-confirm" placeholder="Enter the new password (confirm)" minlength="9" required>
      <br><br>
      <ul class="charlist">
        <li>Su contraseña no puede asemejarse tanto a su información</li>
        <li>Su contraseña debe contener al menos 9 caracteres</li>
        <li>Su contraseña puede ser clave utilizada comunmente</li>
        <li>Su contraseña no puede ser completamente numérica</li>
      </ul>
      <br>
      <button class="deactive" style="margin-right: 30px" on-click="login">DESACTIVATE ACCOUNT</button>
      <button class="save" id="btncorr" >SAVE CHANGES</button>
    </section>
  </div>
  <div>Esta es la pagina de Mis Intereses</div>
  <div>
    <section>
        <b>Twitter username</b>
      <b class="git">Github username</b>
      <br><br>
      <input type="text" id="twitter" required style="margin-right: 150px">
      <input type="text" id="git-username" required>
      <br><br>
      <b>Facebook url</b>
      <b class="linked">Linkedin url</b>
      <br><br>
      <input type="text" id="facebook" required style="margin-right: 150px">
      
      <input type="text" id="linkedin" required="">
      <br><br>
      <b>Website url</b>
      <br><br>
      <input type="text" id="website" required>
      <br><br>
      <p>Bio</p>
      <br><br>
      <textarea class="txtarea" id="txtarea"></textarea>
      <br><br><br>
      <div >
      <button id="btnsobremi" class="save">SAVE CHANGES</button>
      </div>
      </section>
  </div>
</iron-pages>
  <br><br>
  </template>

  <script>
    /**￼
     * `prueba-proyecto`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PruebaProyecto extends Polymer.Element {
      static get is() { return 'prueba-proyecto'; }
      static get properties() {
        return {
          
         
        };
      }
      
    ready(){
      super.ready();
      this.$.btnguardar.addEventListener('click',e=>{this.guardar()});
      this.$.btncorr.addEventListener('click',e=>{this.guardar2()});
      this.$.btnsobremi.addEventListener('click',e=>{this.guardar3()});
      
    }

    
    
    

      guardar(){
        var prueba= new Array();
        var com;
        let nom=this.shadowRoot.querySelector("#data-name").value;
        let ap=this.shadowRoot.querySelector("#data-last").value;
        let dn=this.shadowRoot.querySelector("#dni-data").value;
        let num=this.shadowRoot.querySelector("#number-data").value;
        let day=this.shadowRoot.querySelector("#day").value;
        let month=this.shadowRoot.querySelector("#month").value;
        let year=this.shadowRoot.querySelector("#year").value;
        let dir=this.shadowRoot.querySelector("#dress").value;
        let cp=this.shadowRoot.querySelector("#cod").value;
        let city=this.shadowRoot.querySelector("#city").value;
        let prov=this.shadowRoot.querySelector("#province").value;
        let coun=this.shadowRoot.querySelector("#country").value;
        let zon=this.shadowRoot.querySelector("#horario").value;
        let est=this.shadowRoot.querySelector("#study").value;
        let company=this.shadowRoot.querySelector("#company").value;
        com= nom+","+ap+","+dn+","+num+","+day+","+month+","+year+","+dir+","+cp+","+city+","+prov+","+coun+","+zon+","+est+","+company;
        prueba[0]=com;
        //prueba[0]="Addi,qqq,123,222222222,3,3,3,www,21321,sddd,swde,edaz,2,1,zzz";
        //alert(com);
        //ap1=prueba[0];
        //ap.value=ap1;
        console.log(prueba);
        alert("Datos almacenados correctamente");
        //return prueba;

      } 

      login(){
        alert("Cuenta desactivada");
        window.location.replace("login.html");
      }

      guardar2(){
        let con=this.shadowRoot.querySelector("#password").value;
        let newcon=this.shadowRoot.querySelector("#password-confirm").value;
        var com3=con+","+newcon;
        var prueba3= new Array();
        prueba3[0]=com3;
        console.log(prueba3);
        alert('Cambios guardados');
      }


      guardar3(){
        let un=this.shadowRoot.querySelector("#twitter").value;
        let dos=this.shadowRoot.querySelector("#git-username").value;
        let tres=this.shadowRoot.querySelector("#facebook").value;
        let cuatro=this.shadowRoot.querySelector("#linkedin").value;
        let cinco=this.shadowRoot.querySelector("#website").value;
        let seis=this.shadowRoot.querySelector("#txtarea").value;
        var prueba2=new Array();
        var com2=un+","+dos+","+tres+","+cuatro+","+cinco+","+seis;
        prueba2[0]=com2;
        console.log(prueba2);
        alert("Datos almacenados correctamente");
      }

      

    


    }
    



    window.customElements.define(PruebaProyecto.is, PruebaProyecto);
  </script>
</dom-module>
